# Папки сборки PyInstaller
build/
dist/
__pycache__/
*.spec

# Временные файлы Python
*.py[cod]
*$py.class
*.so
.Python

# Виртуальное окружение
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы настроек и кэша
settings.json
*.log
.cache/

# Сгенерированные иконки
resources/icon.ico

# Системные файлы
.DS_Store
Thumbs.db 